In [1]:
import csv

In [2]:
r=[['1','om','bardoli',9081763545],
   ['2','sai','surat',9925464749],
   ['3','ram','mandavi',9934567823],
   ['4','radha','vyara',8867584848],
   ['5','kishan','maharasra',9081764546]];

In [3]:
for i in range(5):
    sid=int(input('enter student id:'))
    sname=(input('enter student name:'))
    city=(input('enter student city:'))
    contact=int(input('enter student contact:'))
    r.append((sid,sname,city,contact))

enter student id:6
enter student name:arjun
enter student city:surat
enter student contact:9086758484
enter student id:7
enter student name:bhim
enter student city:vyara
enter student contact:8867564738
enter student id:8
enter student name:sita
enter student city:bardoli
enter student contact:7765875656
enter student id:9
enter student name:laxman
enter student city:mandavi
enter student contact:9988776655
enter student id:10
enter student name:kartik
enter student city:surat
enter student contact:9081564748

In [7]:
with open('student.csv','w',newline='') as csvfile:
    write_obj=csv.writer(csvfile)
    header=['s_id','s_name','s_city','contact_no']
    write_obj.writerow(header)
    write_obj.writerows(r)

In [8]:
with open('student.csv','r') as csvfile:
    read_obj=csv.reader(csvfile)
    for row in read_obj:
        print(row)

['s_id', 's_name', 's_city', 'contact_no']
['1', 'om', 'bardoli', '9081763545']
['2', 'sai', 'surat', '9925464749']
['3', 'ram', 'mandavi', '9934567823']
['4', 'radha', 'vyara', '8867584848']
['5', 'kishan', 'maharasra', '9081764546']
['6', 'arjun', 'surat', '9086758484']
['7', 'bhim', 'vyara', '8867564738']
['8', 'sita', 'bardoli', '7765875656']
['9', 'laxman', 'mandavi', '9988776655']
['10', 'kartik', 'surat', '9081564748']